#header {
	color: white;
}

input {
	background:#f7f9fb;
}

.smallText {
	font-size:80%;
}
.normalText {
	font-size:100%;
}
.warning {
	color:#E34234;
}

h3, h4, h5 {
	color:#144a64;
}

.csvLink {
	margin-top:10px;
}

.csvLink a {
	font-size:80%;
	color:black;
}

.box {
	padding:5px 5px 5px 10px;
	background: #d0d0d0;
	margin-bottom:5px;
	border-radius: 5px;
	border:1px solid #aaa;
}
.seq  {
	font-family:Courier;
}

ol li {
	font-family:Courier;
}

ol li a {
	text-decoration:none;
	color:black;
}

.SRR_table th, .griddle-table th {
	text-align:left;
	font-weight:bold;
	font-family:Sans-serif;
	font-size:80%;
	color:#144a64;
	padding:2px 5px 2px 5px;
}

.SRR_table td, .griddle-table td {
	font-family:Sans-serif;
	font-size:80%;
	padding:6px 5px 2px 5px;
	border-bottom: 1px solid #59568b;
}

#KmerQueryList  {
	margin:0;
}

#KmerQueryList li {
	font-size:90%;
	padding:1px 0px 1px 2px;
}

#KmerQueryList li:hover {
	color:red;
	cursor:crosshair;
}

#table_searchresults th {
	padding:2px 20px 2px 0px;
	text-align:left;
}
#table_searchresults td {
	padding:2px 20px 2px 0px;
}

#table_searchresults a:link {
	text-decoration:none;
	color:black;
}

#table_searchresults a:visited {
	color:black;
}

#table_searchresults a:hover {
	text-decoration:underline;
	color:black;
}

h1,h2,h3,h4,h5 {
	margin:0px 0px 5px;
	font-family:Sans;
}

h1 {
	font-size:140%;
}
h2 {
	font-size:120%;
	font-weight:normal;
}
h3 {
	font-size:110%;
}
h4 {
	font-size:100%;
	font-weight:bold;
}

.input1 {
	display:inline-block;
	font-family:Courier;
	font-size:100%;
	height:18pt;
	background:#f7f9fb;
	color:#d1392f;
	border:1px solid #aaa;
	border-radius: 2px;
	margin-right:3px;
	padding:4px;
	min-width:10em;
}

.input2 {
	padding:4px;
	display:inline-block;
	text-align:left;
	font-family:Courier;
	font-size:100%;
	color:#2f76d1;
	min-width:10em;
	height:18pt;
	background:#f7f9fb;
	border:1px solid #aaa;
	border-radius: 2px;
	margin-right:6px;
}

#input_genesearch {
	width:15em;
	height:18pt;
}

#input_kmersearch {
	width:25em;
	height:18pt;
}

#HttpSearchButton {
	height:25pt;
}

#AddKmerToSearchListButton {
	height:25pt;
	font-weight:900;
	margin-left:3px;
}

#KmerQueryListSearchButton {
	height:25pt;
}

#div_selectedgenename {
	display:inline-block;
	height:18pt;
	padding:4px;
	min-width:15em;
	background:#f3f3f3;
	border:1px solid #aaa;
	border-radius: 2px;
 }

.span_selectedtext {
	line-height:18pt;
}
